*, ::after, ::before, ::backdrop, ::file-selector-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
  }

.backbone{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

/* Sidebar Styles */
.sidebar {
    border-right: 1px solid #E8E8E8;
    background: linear-gradient(190deg, #F2FFFC -7.55%, #A3E8D7 112.8%);
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
    flex-direction: column;
    z-index: 1000;
    /*
}
.sidebar-collapsed{
    width:4rem;
}
.sidebar-collapsed > .logo {
    
}

.sidebar-open{
    width: 250px;
}
.logo{
   /*idth: 220px;
    height: 220px;
    width: 100%; */
}
.sidebar a {
    text-decoration: none;
  }

.menu-frame{
    display: flex;
    width: 220px;
    padding: 5px 10px;  
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
}
.icon{
    width: 18px;
    height: 18px;
    flex-shrink: 0; 
}
.menu{
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: auto;

}

/* NAV and MAIN Styles */
.content{
    flex: 1;
  
   
}
.nav{
    border-bottom: 1px solid #E0E0E0;
    background: #FCFCFC;
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 10px;
    height:70px;
    position: sticky;
    top: 0;
   
}
.title-frame{
    padding-left: 400px;
    display: flex;
    padding: 10px 28px;
    justify-content: center;
    align-items: center;
    gap: 19px;
}
.title{
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.pagename{
    color: #000;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-left: 2%;
}
.main-canvas{
    background-color: #e4f1ee;
    width: 84vw;
    height: 85vh;
    flex-shrink: 0;
    margin: auto;
    margin-top: 15px;
}
.searching-canvas{
    background-color: #c0cac8;
    width: 84vw;
    height: 18vh;
    flex-shrink: 0;
    margin: auto;
    margin-top: 15px;  
    flex-direction: ; 
}
label {
    display: block;
    margin: 0.5rem 0;
}
.box{
    width: 20vw;
    height: 5vh;
    flex-shrink: 0;
    margin-left: 0.1vw;
}
.box2{
    width: 20vw;
    height: 5vh;
    flex-shrink: 0;
    margin-left: 2vw
}